@import "./vendor/_vendor-dir";
@import "./abstracts/_abstracts-dir";
@import "./base/_base-dir";
@import "./components/_components-dir";
@import "./layouts/_layouts-dir";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  a {
  font-size: 16px;
  font-family: $font-principal;
  font-weight: bold;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  line-height: 17px;
 }
}
.flexbox-container>div:first-child {
  background-color: $background-left;
}
.flexbox-container>div:last-child {
  background-color: $background-right;
}
.flexbox-container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
 .flexbox-column {
   width: 100vw;
   height: auto;
   padding: 30px;
   display: flex;
   flex-direction: column;
   .about a {
    display: flex;
    justify-content: flex-end;
  }
  .flexbox-content {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 22rem;
   a {
     font-size: 32px;
   }
  }
 }
}
#programming a:hover {
  color: $background-right;
}
#photography a:hover {
  color:$background-left;
}
.container-program {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $second-back-left;
  .flexbox-content {
   width: 100vw;
   height: fit-content;
   padding: 30px;
   display: flex;
   flex-direction: column;
   .about a {
    float: right;
  }
 }
 .screen {
   display: flex;
   flex-direction: column;
   align-items: center;
   .pro {
    margin-top: 2rem;
    margin-bottom: 4rem;
   }
 }
}
.screenshots a {
  width: 100vw;
  height: 7vh;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screenshots a:hover {
  color: $background-left;
}
.img-screen img {
  width: 850px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.info {
  width: 50vw;
  height: fit-content;
  margin: auto;
}
.info {
  p {
  font-size: 12px;
  font-family: $font-principal;
  font-weight:600;
  color: $text-color;
  letter-spacing: 1.8px;
  line-height: 20px;
  justify-content: center;
  text-align: center;
  }
}
.info {
  a:hover {
    color: $background-left;
  }
}
h1 {
  font-size: 22px;
  font-family: $font-principal;
  font-weight:600;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  line-height: 20px;
  justify-content: center;
  text-align: center;
}
.container-photo {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: $second-back-right;
  .flexbox-content {
    width: 100vw;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    .about a {
     float: right;
  }
 }
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .pho {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
 }
}
.pictures {
  height: 100vh;
}
.pictures a {
  width: 100vw;
  height: 7vh;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pictures a:hover {
  color: $background-right;
}
.container-photo {
  ul {
   li {
    padding: 0;
    margin: 0;
    list-style: none;
   }
  }
}
.container-photo {
  ul.slider {
    position: relative;
    width: 1200px;
    height: 675px;
  }
}
.container-photo {
  ul.slider {
    li {
      position: absolute;
      left: 250px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
    }
  }
}
.container-photo {
  ul.slider {
    li {
      img {
        width: 1200px;
        height: 675px;
        object-fit: cover;
      }
    }
  }
}
.container-photo {
  ul.slider li:first-child {
   opacity: 1;
  }
}
.container-photo {
  ul.slider li:target {
    opacity: 1;
  }
}
.container-photo {
  .menu1 {
    text-align: center;
    margin: 20px;
  }
}
.container-photo {
  .menu1 {
    li {
      display: inline-block;
      text-align: center;
    }
  }
}
.container-photo {
  .menu1 {
    li {
      a {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 13px;
        font-family: $font-principal;
        color: black;
        text-decoration: none;
      }
    }
  }
}
.container-photo { 
 .menu1 { 
   li { 
    a:active {
     color: transparent;
     text-shadow: 0 0 $background-left;
   }
  }
 }
}
.container-about {
  width: 100vw;
  height: 100vh;
  background-color: $background-left;
  .nav {
    width: 100vw;
    padding: 30px;
    .about a {
      float: right;
    }
  }
  .image img {
    width: 350px;
    height: auto;
    display: block;
    margin: auto;
  }
  .text, a {
    width: fit-content;
    margin: auto;
    font-size: 16px;
    font-family: $font-principal;
    font-weight:600;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
  }
  .text p a:hover {
    color: $background-right;
  }
}
